table,
th,
td {
  border: 1px solid;
}

.QnA-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  margin: 20px 2%;
  gap: 10px;
  background-color: darkslategrey;
  text-align: start;
  border-radius: 5px;
  color: black;
}

.oneThird {
  padding: 5%;
}

.oneThird p {
  text-align: justify;
  line-height: 22px;
}

@media (max-width: 768px) {
  .QnA-container {
    grid-template-columns: 1fr;
  }
}
