table, th, td {
    border: 1px solid;
}

.QnA-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-between;
    margin: 20px 2%;
    gap: 10px;

    text-align: start;
}

.oneThird{
    padding: 5%;
}