.card-div {
  height: auto;
  position: relative;
  height: auto;
  overflow: hidden;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  padding: 20px;
  border-radius: 10px;
}

.card-div .card_image {
  height: 150px;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
}

.card-div .card_image img {
  width: 100%;
}
.style-info {
  padding-bottom: 30px;
}
.btn-addToList {
  width: 80%;
  background: #7700ff;
  color: #fff;
  cursor: pointer;
  border: none;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  font-size: 16px;
  font-weight: normal;
}

.btn-addToList:hover {
  background-color: #4f00a8;
}
.btn-addToList:disabled,
.btn-addToList[disabled] {
  background-color: #00fc7e;
  color: #fff;
  cursor: no-drop;
}
