.nav-container{
    background-color: whitesmoke;
    color: blue;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 25px 10%;
    margin-bottom: 50px;

}

.img-nav{
    height: 50px;
    width: 50px;
    margin-right: 1%;
}
.txt-nav{
    font-weight: bold;
    font-size: 40px;
}